<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${book.name}">Book</h1>
<h3 th:text="${book.author.name}"></h3>
<h3 th:text="${book.genre.name}">Book</h3>
<form action="#" th:action="@{/books}">
  <button type="submit" name="action">Go Back</button>
</form>

<div>
  <table>
    <thead>
    <tr class="table-info">
      <td><b>ID</b></td>
      <td><b>TEXT</b></td>
      <td><b>ACTIONS</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${book.comments}">
      <form action="#" th:action="@{/comments}" method="post">
        <td><input type="text" name="id" th:value="${comment.id}" readonly></td>
        <input type="text" name="bookId" th:value="${book.id}" hidden>
        <td><input type="text" name="text" th:value="${comment.text}"></td>
        <td><button type="submit" name="action" value="delete">DELETE</button></td>
      </form>
    </tr>
    <form action="#" th:action="@{/comments}" method="post">
      <td></td>
      <input type="text" name="bookId" th:value="${book.id}" hidden>
      <td><input type="text" name="text" placeholder="text"></td>
      <td><button type="submit" name="action" value="save">ADD</button></td>
    </form>

    </tbody>
  </table>
</div>
</body>
</html>